.btn{
    width: 120px;
    height: 35px;
    background-color: #4e6ef2;
    color: #FFFFFF;
    border-width: 0;
    border-radius: 8px;
    margin: 5px;
}
.input_form{
    width: 200px;
    height: 35px;
    border: 1px solid darkgray;
    margin: 5px;
    padding: 3px;
}
.input_form:focus{
    border: 1px solid red;
    
}